
  <nav class="filter">
 {#    {{ form(form) }} #}
 {{ form_start(form) }}
    {{ form_errors(form) }}

    {{ form_row(form.size) }}
    {{ form_row(form.age) }}
    {{ form_row(form.genre) }}
    {{ form_row(form.skill) }}

    {{ form_row(form.submit) }}
{{ form_end(form) }}
 
</nav>
<script src="/js/script.js/" ></script>
